{% extends 'base.html.twig' %}

{% block title %}Modifier Reparations{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier Reparations</h1>

    {{ include('reparations/_form.html.twig', {'button_label': 'Modifier'}) }}
    <div class="flex justify-center mt-10">
        {{ include('reparations/_delete_form.html.twig') }}
    </div>
{% endblock %}
