{% extends 'base.html.twig' %}

{% block title %}Modifier Reparations{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier Reparations</h1>

    {{ include('reparations/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="text-center" href="{{ path('app_reparations_index') }}">Retour</a>

    {{ include('reparations/_delete_form.html.twig') }}
{% endblock %}
