{% extends 'base.html.twig' %}

{% block title %}New Reparations{% endblock %}

{% block body %}
    <h1 class="text-center">Create new Reparations</h1>

    {{ include('reparations/_form.html.twig') }}

{% endblock %}
