{% extends 'base.html.twig' %}

{% block title %}New Reparations{% endblock %}

{% block body %}
    <h1>Create new Reparations</h1>

    {{ include('reparations/_form.html.twig') }}

    <a href="{{ path('app_reparations_index') }}">back to list</a>
{% endblock %}
