{% extends 'base.html.twig' %}

{% block title %}Modifier Emplacement{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier Emplacement</h1>

    {{ include('emplacement/_form.html.twig', {'button_label': 'Modifier'}) }}
    <div class="flex justify-center mt-10">
    {{ include('emplacement/_delete_form.html.twig') }}
    </div>
{% endblock %}
