{% extends 'base.html.twig' %}

{% block title %}Emplacement{% endblock %}

{% block body %}
    <h1>Créer Emplacement</h1>

    {{ include('emplacement/_form.html.twig') }}

    <a href="{{ path('app_emplacement_index') }}">Retour</a>
{% endblock %}
