{% extends 'base.html.twig' %}

{% block title %}Emplacement{% endblock %}

{% block body %}
    <h1 class="text-center">Créer Emplacement</h1>

    {{ include('emplacement/_form.html.twig') }}

{% endblock %}
