{% extends 'base.html.twig' %}

{% block title %}Modifier Produit{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier Produit</h1>

    {{ include('produit/_form.html.twig', {'button_label': 'Modifier'}) }}
    <div class="flex justify-center mt-10">
        {{ include('produit/_delete_form.html.twig') }}
    </div>
{% endblock %}
