{% extends 'base.html.twig' %}

{% block title %}Modifier Historique{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier Historique</h1>

    {{ include('historique/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('historique/_delete_form.html.twig') }}
{% endblock %}
