{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
    <h1 class="text-center">Créer un Historique</h1>

    {{ include('historique/_form.html.twig') }}

    <a class="text-center" href="{{ path('app_historique_index') }}">Retour</a>
{% endblock %}
