<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        .container {
            flex-grow: 1;
        }
        </style>
        {% block stylesheets %}
        {% endblock %}

        <link rel="stylesheet" href="//cdn.datatables.net/2.1.7/css/dataTables.dataTables.min.css" >
    </head>
    <body>
        {% include 'www/header.html.twig' %}

        <div class="container mx-auto px-4">
        {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="//cdn.datatables.net/2.1.7/js/dataTables.min.js"></script>
        <script>
        if ($('#myTable').length >= 1) {
            let table = new DataTable('#myTable');
        }

        </script>
        {% endblock %}
        {% include 'www/footer.html.twig' %}
    </body>
</html>
