<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <style>

        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        .container {
            flex-grow: 1;
        }

        </style>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% include 'www/header.html.twig' %}

        <div class="container mx-auto px-4">
        {% block body %}{% endblock %}
        </div>

        {% include 'www/footer.html.twig' %}
    </body>
</html>
