{% extends 'base.html.twig' %}

{% block title %}Modifier Categorie{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier Categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_index') }}" class="text-center">Retour</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
