{% extends 'base.html.twig' %}

{% block title %}Nouvelle Categorie{% endblock %}

{% block body %}
    <h1 class="text-center">Créer une Categorie</h1>

    {{ include('categorie/_form.html.twig') }}

{% endblock %}
