{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition duration-300"">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
