{% extends 'base.html.twig' %}

{% block title %}Modifier User{% endblock %}

{% block body %}
    <h1>Modifier User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
    <div class="flex justify-center mt-10">
        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
