{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}" class="px-4 py-2 bg-green-500 text-white rounded-md shadow hover:bg-green-600">Retour</a>
{% endblock %}
